<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card">
      <div class="card-body">
        <img class="mx-auto d-block" src="../../../assets/img/logo.png">
        <h1 class="text-center">Login</h1>
        <form #loginForm (submit)="onSubmit()">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" 
            placeholder="Please enter your email address"
            class="form-control"
            [(ngModel)]="email" 
            name="email"
            required
            pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$"
            [ngClass]="{'is-invalid':newClientEmail.touched && newClientEmail.invalid}"
            #newClientEmail="ngModel">
            <div *ngIf="newClientEmail.touched && newClientEmail.invalid" class="invalid-feedback">
              <div *ngIf="newClientEmail.errors.required">
                Please enter your email address.
              </div>
              <div *ngIf="newClientEmail.errors.pattern">
                Please enter a valid email address.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password"
            placeholder="Please enter your password" 
            class="form-control"
            [(ngModel)]="password" 
            name="password"
            required
            minlength="6"
            [ngClass]="{'is-invalid':newClientPassword.touched && newClientPassword.invalid}"
            #newClientPassword="ngModel">
            <div *ngIf="newClientPassword.touched && newClientPassword.invalid" class="invalid-feedback">
                <div *ngIf="newClientPassword.errors.required">
                  Please enter in your password.
                </div>
                <div *ngIf="newClientPassword.errors.minlength && newClientPassword.dirty">
                  Password length must be at least 6 characters.
                </div>
              </div>
          </div>
          <input 
          type="submit"
          [disabled]="(newClientEmail.pristine || newClientPassword.pristine) || (newClientEmail.invalid || newClientPassword.invalid)" 
          value="Login"
          class="btn btn-primary btn-block">
        </form>
      </div>
    </div>
  </div>
</div>