<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card">
      <div class="card-body">
        <img class="mx-auto d-block" src="../../../assets/img/logo.png">
        <h1 class="text-center">Login</h1>
        <form (submit)="onSubmit()">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" 
            class="form-control"
            [(ngModel)]="email" 
            name="email"
            required
            #newClientEmail>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" 
            class="form-control"
            [(ngModel)]="password" 
            name="password"
            required
            #newClientPassword>
          </div>
          <input type="submit" 
          value="Login"
          class="btn btn-primary btn-block">
        </form>
      </div>
    </div>
  </div>
</div>